<main class="form-signin">
  <form>
    <h1 class="h3 mb-3 fw-normal">Faça o Login</h1>
    <div class="form-floating">
      <input type="email" class="form-control" placeholder="name@example.com">
      <label for="floatingInput">Seu Email</label>
    </div>
    <div class="form-floating">
      <input type="password" class="form-control mb-4" placeholder="Password">
      <label for="floatingPassword">Sua Senha</label>
    </div>
    <button class="w-100 btn btn-lg btn-success" type="submit">Acessar</button>
  </form>
</main>
